@charset "UTF-8";

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "ProximaNova";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "ProximaNova";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #131720;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 84.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  width: 100%;
}

.form__input {
  width: 100%;
  background: #F3F3F3;
  border-radius: 7px;
  padding: 12px 22px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__input:focus {
  outline: 2px solid #999966;
}

.form__input::-webkit-input-placeholder {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* identical to box height */
  color: #8A8A8A;
}

.form__input::-moz-placeholder {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* identical to box height */
  color: #8A8A8A;
}

.form__input:-ms-input-placeholder {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* identical to box height */
  color: #8A8A8A;
}

.form__input::-ms-input-placeholder {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* identical to box height */
  color: #8A8A8A;
}

.form__input::placeholder {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* identical to box height */
  color: #8A8A8A;
}

.form__btn {
  width: 100%;
  padding: 17px auto;
  font-size: 16px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background: #131720;
  padding: 35px 85px 50px;
  width: 100%;
  max-width: 612px;
  border-radius: 1px;
  border: 5px solid #999966;
}

.lock .popup__content {
  visibility: visible;
}

.popup__title {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs__title {
  border-bottom: 5px solid #999966;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
  border-radius: 7px 7px 0px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs__title._tab-active {
  -webkit-box-shadow: 0px 0px 20px #999966;
          box-shadow: 0px 0px 20px #999966;
  -webkit-transform: translate(0px, -30px);
      -ms-transform: translate(0px, -30px);
          transform: translate(0px, -30px);
}

.tabs__content {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
}

.title span {
  color: #999966;
}

.btn {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px 68px;
  border-radius: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #999966;
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 15px rgba(153, 153, 102, 0.7);
          box-shadow: 0px 15px 15px rgba(153, 153, 102, 0.7);
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  -webkit-transform: translate(0px, -10px);
      -ms-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-box-shadow: 0px 15px 25px rgba(153, 153, 102, 0.7);
          box-shadow: 0px 15px 25px rgba(153, 153, 102, 0.7);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
}

.header__logo img {
  width: 100%;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 0px 0px;
}

.header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon img {
  width: 100%;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer__container {
  max-width: 1350px;
  margin: 0px auto;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__body {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  width: 176px;
  height: 57px;
  margin: 0px 0px 60px 0px;
}

.footer__logo img {
  width: 100%;
}

.footer__border {
  border: 4px solid #999966;
  padding: 25px 25px 25px 25px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 30px 45px 30px;
  border: 1px solid #999966;
}

.footer__contact {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 300;
  line-height: 116%;
  /* or 23px */
  color: #C0C0C0;
  margin: 0px 0px 25px 0px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}

.footer__btn {
  margin: 70px 0px 0px 0px;
}

.footer__image {
  height: 100%;
  position: relative;
}

.footer__image img {
  max-width: 100%;
}

.main__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.main__container {
  max-width: 1350px;
  margin: 0px auto;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__body {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 115px 0px;
}

.main__title {
  margin: 0px 0px 14px 0px;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 700;
}

.main__text {
  line-height: 125%;
  color: #CECECE;
}

.main__text span {
  color: #fff;
}

.main__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__image img {
  max-width: 100%;
}

.tabs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs__body {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #EFEFEF;
}

.tabs__image {
  border-radius: 7px;
}

.tabs__image img {
  width: 100%;
  border-radius: 7px;
}

.tabs__subtitle {
  padding: 25px 0px;
}

.carousel__slide {
  width: 33%;
}

.fancybox__container {
  min-width: 100vw;
}

.fancybox__container .carousel__nav {
  display: none;
}

.fancybox__container .carousel__button {
  display: none;
}

.carousel__nav {
  margin: 65px 0px 0px 0px;
  position: relative;
}

.carousel__button {
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .carousel__button.is-prev {
  left: 50%;
  top: 0;
  -webkit-transform: translate(-75%, 0px);
      -ms-transform: translate(-75%, 0px);
          transform: translate(-75%, 0px);
  width: 65px;
  height: 65px;
}

.carousel .carousel__button.is-next {
  top: 0;
  left: 50%;
  -webkit-transform: translate(75%, 0px);
      -ms-transform: translate(75%, 0px);
          transform: translate(75%, 0px);
  width: 65px;
  height: 65px;
}

.fancybox__toolbar {
  display: none;
}

@media (min-width: 47.99875em) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer__image {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    min-height: 705px;
    -webkit-clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 18.2%);
            clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 18.2%);
  }

  .footer__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }
}

@media (min-width: 86.25em) {
  .popup__title {
    font-size: 1.5rem;
  }

  .popup__title {
    margin-bottom: 2.125rem;
  }

  .title {
    font-size: 3.125rem;
  }

  .title {
    margin-bottom: 4.375rem;
  }

  .btn {
    font-size: 1.5rem;
  }

  .header__logo {
    width: 11rem;
  }

  .header__logo {
    height: 3.5625rem;
  }

  .header__icon {
    width: 1.75rem;
  }

  .header__number {
    font-size: 1.75rem;
  }

  .footer__contact {
    font-size: 1.25rem;
  }

  .main {
    padding-bottom: 6.5625rem;
  }

  .main__title {
    font-size: 4.8125rem;
  }

  .main__title {
    line-height: 5.875rem;
  }

  .main__text {
    margin-bottom: 3.5rem;
  }

  .main__text {
    font-size: 1.75rem;
  }

  .page__materials {
    padding-top: 5.625rem;
  }

  .page__materials {
    padding-bottom: 5.625rem;
  }

  .materials__title {
    margin-bottom: 4.375rem;
  }

  .tabs__navigation {
    margin-bottom: 3.125rem;
  }

  .tabs__body {
    font-size: 1.25rem;
  }

  .tabs__subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 20em) {
  .popup__title {
    font-size: 1.25rem;
  }

  .popup__title {
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .title {
    margin-bottom: 1.25rem;
  }

  .btn {
    font-size: 0.875rem;
  }

  .header__logo {
    width: 6.75rem;
  }

  .header__logo {
    height: 2.1875rem;
  }

  .header__icon {
    width: 0.9375rem;
  }

  .header__number {
    font-size: 0.875rem;
  }

  .footer__contact {
    font-size: 0.75rem;
  }

  .main {
    padding-bottom: 1.875rem;
  }

  .main__title {
    font-size: 1.875rem;
  }

  .main__title {
    line-height: 2.3125rem;
  }

  .main__text {
    margin-bottom: 1.25rem;
  }

  .main__text {
    font-size: 0.875rem;
  }

  .page__materials {
    padding-top: 1.25rem;
  }

  .page__materials {
    padding-bottom: 1.25rem;
  }

  .materials__title {
    margin-bottom: 1.25rem;
  }

  .tabs__navigation {
    margin-bottom: 1.5625rem;
  }

  .tabs__body {
    font-size: 0.875rem;
  }

  .tabs__subtitle {
    font-size: 0.875rem;
  }
}

@media (max-width: 86.25em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }

  .tabs__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 22%;
            flex: 1 0 22%;
  }

  .carousel__slide {
    width: 45%;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }

  .popup__content {
    padding: 35px 44px 50px;
  }

  .tabs__navigation {
    overflow-x: auto;
    padding: 50px 0px 30px 0px;
  }

  .tabs__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 315px;
            flex: 1 0 315px;
  }

  .btn {
    padding: 10px 34px;
  }

  .footer__body {
    width: 100%;
  }

  .footer__logo {
    width: 108px;
    height: 35px;
  }

  .footer__logo {
    margin: 0px 0px 25px 0px;
  }

  .footer__border {
    padding: 18px;
    border-bottom: 4px solid #999966;
  }

  .footer__info {
    padding: 26px 10px;
  }

  .footer__contacts {
    gap: 7px;
  }

  .footer__btn {
    margin: 40px 0px 0px 0px;
  }

  .footer__image {
    padding: 0px 15px;
  }

  .footer__image img {
    border-right: 4px solid #999966;
    border-bottom: 4px solid #999966;
    border-left: 4px solid #999966;
  }

  .main__body {
    width: 100%;
  }

  .main__content {
    max-width: 100%;
    padding: 0px;
  }

  .main__text {
    max-width: 100%;
  }

  .main__image {
    margin: 50px 0px 0px 0px;
  }

  .carousel__slide {
    width: 80%;
  }

  .carousel__slide {
    width: 100%;
  }

  .carousel__slide img {
    width: 100%;
  }

  .carousel__button {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .tabs__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 180px;
            flex: 1 0 180px;
  }

  .fancybox__container {
    min-width: 90vw;
  }
}

@media (min-width: 20em) and (max-width: 86.25em) {
@supports (font-size: clamp( 1.25rem , 1.1745283019rem  +  0.3773584906vw , 1.5rem )) {
    .popup__title {
      font-size: clamp( 1.25rem , 1.1745283019rem  +  0.3773584906vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1745283019rem  +  0.3773584906vw , 1.5rem )) {
    .popup__title {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 66.25);
    }
}

@supports (margin-bottom: clamp( 1.5rem , 1.3113207547rem  +  0.9433962264vw , 2.125rem )) {
    .popup__title {
      margin-bottom: clamp( 1.5rem , 1.3113207547rem  +  0.9433962264vw , 2.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , 1.3113207547rem  +  0.9433962264vw , 2.125rem )) {
    .popup__title {
      margin-bottom: calc(1.5rem + 0.625 * (100vw - 20rem) / 66.25);
    }
}

@supports (font-size: clamp( 1.5rem , 1.0094339623rem  +  2.4528301887vw , 3.125rem )) {
    .title {
      font-size: clamp( 1.5rem , 1.0094339623rem  +  2.4528301887vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0094339623rem  +  2.4528301887vw , 3.125rem )) {
    .title {
      font-size: calc(1.5rem + 1.625 * (100vw - 20rem) / 66.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3066037736rem  +  4.7169811321vw , 4.375rem )) {
    .title {
      margin-bottom: clamp( 1.25rem , 0.3066037736rem  +  4.7169811321vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3066037736rem  +  4.7169811321vw , 4.375rem )) {
    .title {
      margin-bottom: calc(1.25rem + 3.125 * (100vw - 20rem) / 66.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6863207547rem  +  0.9433962264vw , 1.5rem )) {
    .btn {
      font-size: clamp( 0.875rem , 0.6863207547rem  +  0.9433962264vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6863207547rem  +  0.9433962264vw , 1.5rem )) {
    .btn {
      font-size: calc(0.875rem + 0.625 * (100vw - 20rem) / 66.25);
    }
}

@supports (width: clamp( 6.75rem , 5.4669811321rem  +  6.4150943396vw , 11rem )) {
    .header__logo {
      width: clamp( 6.75rem , 5.4669811321rem  +  6.4150943396vw , 11rem );
    }
}

@supports not (width: clamp( 6.75rem , 5.4669811321rem  +  6.4150943396vw , 11rem )) {
    .header__logo {
      width: calc(6.75rem + 4.25 * (100vw - 20rem) / 66.25);
    }
}

@supports (height: clamp( 2.1875rem , 1.7724056604rem  +  2.0754716981vw , 3.5625rem )) {
    .header__logo {
      height: clamp( 2.1875rem , 1.7724056604rem  +  2.0754716981vw , 3.5625rem );
    }
}

@supports not (height: clamp( 2.1875rem , 1.7724056604rem  +  2.0754716981vw , 3.5625rem )) {
    .header__logo {
      height: calc(2.1875rem + 1.375 * (100vw - 20rem) / 66.25);
    }
}

@supports (width: clamp( 0.9375rem , 0.6922169811rem  +  1.2264150943vw , 1.75rem )) {
    .header__icon {
      width: clamp( 0.9375rem , 0.6922169811rem  +  1.2264150943vw , 1.75rem );
    }
}

@supports not (width: clamp( 0.9375rem , 0.6922169811rem  +  1.2264150943vw , 1.75rem )) {
    .header__icon {
      width: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 66.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6108490566rem  +  1.320754717vw , 1.75rem )) {
    .header__number {
      font-size: clamp( 0.875rem , 0.6108490566rem  +  1.320754717vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6108490566rem  +  1.320754717vw , 1.75rem )) {
    .header__number {
      font-size: calc(0.875rem + 0.875 * (100vw - 20rem) / 66.25);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5990566038rem  +  0.7547169811vw , 1.25rem )) {
    .footer__contact {
      font-size: clamp( 0.75rem , 0.5990566038rem  +  0.7547169811vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5990566038rem  +  0.7547169811vw , 1.25rem )) {
    .footer__contact {
      font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 66.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4599056604rem  +  7.0754716981vw , 6.5625rem )) {
    .main {
      padding-bottom: clamp( 1.875rem , 0.4599056604rem  +  7.0754716981vw , 6.5625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4599056604rem  +  7.0754716981vw , 6.5625rem )) {
    .main {
      padding-bottom: calc(1.875rem + 4.6875 * (100vw - 20rem) / 66.25);
    }
}

@supports (font-size: clamp( 1.875rem , 0.9882075472rem  +  4.4339622642vw , 4.8125rem )) {
    .main__title {
      font-size: clamp( 1.875rem , 0.9882075472rem  +  4.4339622642vw , 4.8125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 0.9882075472rem  +  4.4339622642vw , 4.8125rem )) {
    .main__title {
      font-size: calc(1.875rem + 2.9375 * (100vw - 20rem) / 66.25);
    }
}

@supports (line-height: clamp( 2.3125rem , 1.2370283019rem  +  5.3773584906vw , 5.875rem )) {
    .main__title {
      line-height: clamp( 2.3125rem , 1.2370283019rem  +  5.3773584906vw , 5.875rem );
    }
}

@supports not (line-height: clamp( 2.3125rem , 1.2370283019rem  +  5.3773584906vw , 5.875rem )) {
    .main__title {
      line-height: calc(2.3125rem + 3.5625 * (100vw - 20rem) / 66.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.570754717rem  +  3.3962264151vw , 3.5rem )) {
    .main__text {
      margin-bottom: clamp( 1.25rem , 0.570754717rem  +  3.3962264151vw , 3.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.570754717rem  +  3.3962264151vw , 3.5rem )) {
    .main__text {
      margin-bottom: calc(1.25rem + 2.25 * (100vw - 20rem) / 66.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6108490566rem  +  1.320754717vw , 1.75rem )) {
    .main__text {
      font-size: clamp( 0.875rem , 0.6108490566rem  +  1.320754717vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6108490566rem  +  1.320754717vw , 1.75rem )) {
    .main__text {
      font-size: calc(0.875rem + 0.875 * (100vw - 20rem) / 66.25);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.070754717rem  +  6.6037735849vw , 5.625rem )) {
    .page__materials {
      padding-top: clamp( 1.25rem , -0.070754717rem  +  6.6037735849vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.070754717rem  +  6.6037735849vw , 5.625rem )) {
    .page__materials {
      padding-top: calc(1.25rem + 4.375 * (100vw - 20rem) / 66.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.070754717rem  +  6.6037735849vw , 5.625rem )) {
    .page__materials {
      padding-bottom: clamp( 1.25rem , -0.070754717rem  +  6.6037735849vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.070754717rem  +  6.6037735849vw , 5.625rem )) {
    .page__materials {
      padding-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 66.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3066037736rem  +  4.7169811321vw , 4.375rem )) {
    .materials__title {
      margin-bottom: clamp( 1.25rem , 0.3066037736rem  +  4.7169811321vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3066037736rem  +  4.7169811321vw , 4.375rem )) {
    .materials__title {
      margin-bottom: calc(1.25rem + 3.125 * (100vw - 20rem) / 66.25);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.0908018868rem  +  2.358490566vw , 3.125rem )) {
    .tabs__navigation {
      margin-bottom: clamp( 1.5625rem , 1.0908018868rem  +  2.358490566vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.0908018868rem  +  2.358490566vw , 3.125rem )) {
    .tabs__navigation {
      margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 66.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7617924528rem  +  0.5660377358vw , 1.25rem )) {
    .tabs__body {
      font-size: clamp( 0.875rem , 0.7617924528rem  +  0.5660377358vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7617924528rem  +  0.5660377358vw , 1.25rem )) {
    .tabs__body {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 66.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6863207547rem  +  0.9433962264vw , 1.5rem )) {
    .tabs__subtitle {
      font-size: clamp( 0.875rem , 0.6863207547rem  +  0.9433962264vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6863207547rem  +  0.9433962264vw , 1.5rem )) {
    .tabs__subtitle {
      font-size: calc(0.875rem + 0.625 * (100vw - 20rem) / 66.25);
    }
}
}